<!DOCTYPE html>
<html>
<head>
  <title>OneboxApiDoc</title>
  <%= stylesheet_link_tag    "onebox_api_doc/application", media: "all" %>
  <%= javascript_include_tag "onebox_api_doc/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
