.ui.segment
  %h3.ui.horizontal.header.divider
    Roles
  .ui.form
    .filed
      = select_tag :role, options_for_select(['Back End Developer', 'Web Developer', 'Mobile Developer']), class: 'ui fluid dropdown'