%h2.ui.header.resourec__name Product

.ui.divider

%h1.ui.header.api__url
  %span.action.get GET
  %span.url /my/url
  .sub.header
    short description
.ui.label.permission
  Permission
  .detail.name
    Admin
  .detail.name
    Member
  .detail.name
    Guest

%p.description
  long description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.ui.top.attached.tabular.menu
  .item{"data-tab" => "header"} Header
  .item{"data-tab" => "body"} Body
  .item.active{"data-tab" => "response"} Response
  .item{"data-tab" => "error"} Error

.ui.bottom.attached.tab.segment{"data-tab" => "header"}
  = render partial: 'onebox_api_doc/application/params', locals: { has_nested: true, nested_size: 3}
  

.ui.bottom.attached.tab.segment{"data-tab" => "body"}
  = render partial: 'onebox_api_doc/application/params', locals: { has_nested: true, nested_size: 2}

.ui.bottom.attached.active.tab.segment{"data-tab" => "response"}
  = render partial: 'onebox_api_doc/application/params', locals: { has_nested: true, nested_size: 1}

.ui.bottom.attached.tab.segment{"data-tab" => "error"} None


