%table.ui.celled.structured.errors.table
  %thead
    %tr
      %th Code
      %th Message
      %th Params
  %tbody
    - codes.each do |code|
      %tr
        %td.error__code
          = code.code
        %td.error__msg
          = code.message
        %td.error__params
          = render partial: 'onebox_api_doc/application/params', locals: { params: code.params } unless code.params.blank?
