%table.ui.celled.structured.params.table
  %tbody
    - params.each do |param|
      %tr
        %td.param__key
          .ui.header
            .name
              = param.name
            .sub.header.type
              = param.type
        %td
          %p.param__desc
            = param.desc
            = render partial: 'onebox_api_doc/application/params', locals: { params: param.params } unless param.params.blank?
