%table.ui.celled.structured.params.table
  %tbody
    - params.each do |param|
      %tr
        %td.param__key
          .ui.header
            .name
              = param._name
            .sub.header.type
              = param._type
        %td
          %p.param__desc
            = param._desc
            = render partial: 'onebox_api_doc/application/params', locals: { params: param._params } unless param._params.blank?
